<?xml version="1.0" encoding="utf-8"?>
<manifest package="zenghao.com.study"
          xmlns:android="http://schemas.android.com/apk/res/android">
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA"/><!--没有在次注册 直接权限申请拒绝-->

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />

    <uses-permission xmlns:tools="http://schemas.android.com/tools"
                     android:name="android.permission.PACKAGE_USAGE_STATS"
                     tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.PermissionActivity"/>
        <activity android:name=".activity.ItemListActivity"/>
        <activity android:name=".activity.TestNotificationCompat"/>
        <activity android:name=".activity.TestSlidingPaneLayout"/>
        <activity android:name=".activity.MainSwipeActivity"/>
        <activity android:name=".activity.SwipeItemActivity"/>
        <activity android:name=".activity.ListViewDemoActivity"/>
        <activity android:name=".activity.RecyclerViewDemoActivity"/>
        <activity android:name=".activity.CaptureActivity"/>
        <activity android:name=".activity.PermissionFrameworkActivity"/>
        <activity android:name=".activity.LogoFristActivity"/>
        <activity android:name=".activity.SplashVideoView"/>



        <service android:name=".suspension.WatchService"/>
        <activity android:name=".suspension.GuideActivity"/>


        <service
            android:name=".suspension.DetectionService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/detection_service_config"/>

        </service>
        <activity android:name=".suspension.MainActivityChild"
          android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".RX.RXTestActivity"
                  android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".viewpager.VPUpdateFragment1"
                  android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".bottomManger.BottomMangerActivity"/>
        <activity android:name=".VHRecyleView.VPRecyleMainActivity"/>
        <activity android:name=".lazyFragment.LazyFragmentActivity"/>
        <activity android:name=".StatusBar.TestStatusBarActivity"
            android:theme="@style/testStatusBar"
            ></activity>

        <activity android:name=".permissionFramework.TestPermissionActivity"/>

        <activity android:name=".RxBus.RXBusMainActivity"/>
        <activity android:name=".RxBus.RXBusFirstActivity"/>
        <activity android:name=".RxBus.RXBusSecondActivity"/>
        <activity android:name=".RecyclerViewDemo.TestDiffUtilActivity"/>
        <activity android:name=".activity.TestConstraintLayout"/>
        <activity android:name=".commonActivity.ChangeBgColor"/>
    </application>

</manifest>
