<?xml version="1.0" encoding="utf-8"?>
<manifest package="zenghao.com.study"
          xmlns:android="http://schemas.android.com/apk/res/android">
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA"/><!--没有在此注册 直接权限申请拒绝-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />

    <uses-permission xmlns:tools="http://schemas.android.com/tools"
                     android:name="android.permission.PACKAGE_USAGE_STATS"
                     tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".MyApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.PermissionActivity"/>
        <activity android:name=".activity.ItemListActivity"/>
        <activity android:name=".activity.TestNotificationCompat"/>
        <activity android:name=".activity.TestSlidingPaneLayout"/>
        <activity android:name=".activity.MainSwipeActivity"/>
        <activity android:name=".activity.SwipeItemActivity"/>
        <activity android:name=".activity.ListViewDemoActivity"/>
        <activity android:name=".activity.RecyclerViewDemoActivity"/>
        <activity android:name=".activity.CaptureActivity"/>
        <activity android:name=".activity.PermissionFrameworkActivity"/>
        <activity android:name=".activity.LogoFristActivity"/>
        <activity android:name=".activity.SplashVideoView"/>



        <service android:name=".suspension.WatchService"/>
        <activity android:name=".suspension.GuideActivity"/>


        <service
            android:name=".suspension.DetectionService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/detection_service_config"/>

        </service>
        <activity android:name=".suspension.MainActivityChild"
          android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".RX.RXTestActivity"
                  android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".viewpager.VPUpdateFragment1"
                  android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".bottomManger.BottomMangerActivity"/>
        <activity android:name=".VHRecyleView.VPRecyleMainActivity"/>
        <activity android:name=".lazyFragment.LazyFragmentActivity"/>
        <activity android:name=".StatusBar.TestStatusBarActivity"
            android:theme="@style/testStatusBar"
            ></activity>

        <activity android:name=".permissionFramework.TestPermissionActivity"/>

        <activity android:name=".RxBus.RXBusMainActivity"/>
        <activity android:name=".RxBus.RXBusFirstActivity"/>
        <activity android:name=".RxBus.RXBusSecondActivity"/>
        <activity android:name=".RecyclerViewDemo.TestDiffUtilActivity"/>
        <activity android:name=".activity.TestConstraintLayout"/>
        <activity android:name=".commonActivity.ChangeBgColor"/>

        <service android:name=".IPC.Service.MyMutilPService" android:process=":testMutil"/>
        <activity android:name=".IPC.Service.TestMutilProcessActivity"/>
        <provider
            android:authorities="org.wangchenlong.book.provider"
            android:name=".IPC.database.IPCContentProvider"/>

        <activity android:name=".commonActivity.TestConstraintLayoutActivity"/>
        <activity android:name=".VHRecyleView2.VHListUIActivity"/>
        <activity android:name=".activity.SplashVideoActivity"/>

        <activity android:name=".plugin.loadResours.TestPluginActivity"/>

        <activity android:name=".plugin.ReSkin.ReSkinActivity"/>

        <activity android:name=".localImageVideo.LocalImageActivity"/>
        <activity android:name=".commonActivity.CaptureVideoActivity"/>
        <activity android:name=".UI.RiseNumberActivity"/>
        <activity android:name=".adapter.LVCommon.TestListCommonActivity"/>
        <activity android:name=".viewpager.vpAnim.MyJazzPagerActivity"/>
        <activity android:name=".banner.BannerActivity"/>

        <provider
            android:authorities="com.app.contentprovider"
            android:name=".Loader.MyContentProvider"/>
        <activity android:name=".Loader.TestLoaderActivity"/>

        <activity android:name=".commonActivity.LVTextClickActivity"/>
        <activity android:name=".listStatusSwitch.LoadingActivity"/>
        <activity android:name=".DownLoad.DownLoadActivity"/>

        <activity android:name=".DownLoadV2.DownLoadV2ActivityV2"/>
        <provider
            android:authorities="com.zeng.down.v2"
            android:name=".DownLoadV2.provider.DownLoadProviderV2"/>
        <service android:name=".DownLoadV2.service.DownLoadServiceV2" android:process=":testDownLoad"/>

        <activity android:name=".Map.TestMapActivity"/>
        <activity android:name=".IME.TestHideIme"/>
        <activity android:name=".IME.TestHideIme2"/>
        <activity android:name=".commonActivity.RoundProgress"/>
        <activity android:name=".commonActivity.ListVideoActivity"/>
        <activity android:name=".commonActivity.TestPercentLayoutActivity"/>
        <activity android:name=".commonActivity.CommonModifyActivity"/>
        <activity android:name=".commonActivity.ModifyActivity"/>
        <activity android:name=".holdStyle.HoldMainActivity"/>
        <activity android:name=".viewpager.NewBaseAdapter.SimpleActivity"/>
        <activity android:name=".commonActivity.TestConstraintLayoutActivity2"/>
        <activity android:name=".commonActivity.DoubleLayoutTransition"/>
        <activity android:name=".commonActivity.ConstraintAnimator"/>
        <activity android:name=".commonActivity.FullScreenActivity"/>
        <activity android:name=".commonActivity.ThemeActivity"/>

        <activity android:name=".view.notifyUtil.TestNotifyBuildActivity"/>
        <activity android:name=".commonActivity.EditTextContactsActivity"/>
        <activity android:name=".commonActivity.sms.MainActivity"/>
        <activity android:name=".permissionBuilder.XPermissionTestActivity"/>

        <!--动态修改appLauncherIcon icon为我们需要替换的图片 然后在MainActivity中代码处理-->
        <activity-alias
            android:name=".TestAndroidAlias"
            android:targetActivity=".MainActivity"
            android:label="testAndroidlias"
            android:enabled="false"
            android:icon="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".commonActivity.SnackBarActivity"/>
        <activity android:name=".commonActivity.GuidePopTisActivity"/>
        <activity android:name=".commonActivity.MoneyCovertActivity"/>
        <activity android:name=".commonActivity.CountDownActivity"/>
        <activity android:name=".commonActivity.TestFlowLayoutActivity"/>
        <activity android:name=".commonActivity.CustomToastActivity"/>
        <activity android:name=".listStatusSwitch.state.StateMainActivity"/>
        <activity android:name=".retrofit.TestRetrofitActivity"/>
        <service android:name=".retrofit.updateApk.DownLoadService"/>

    </application>


    <meta-data
        android:name="UMENG_CHANNEL"
        android:value="${UMENG_CHANNEL_VALUE}" />

</manifest>
